@import "bootstrap/scss/mixins/breakpoints";

@include media-breakpoint-up(lg)
    header
        left: 0
        position: absolute
        width: 14%

    .content
        left: 14%
        position: absolute
        width: 43%

        .example
            left: 100%
            position: absolute
            width: 100%

    .language-menu
        left: 57%
        position: absolute
        width: 43%
