.content

    table.docutils:not(.field-list):not(.footnote):not(.citation)
        @extend .table
        @extend .table-bordered
        @extend .table-responsive
        @extend .table-striped

        th, td
            white-space: nowrap

    table.docutils.citation, table.docutils.footnote
        @extend .table
        color: $gray-light

        td, tr
            padding: $table-cell-padding
            white-space: normal

        // Bootstrap targets `.label` so we have to reset a bunch of things
        td.label
            display: table-cell
            color: $gray-light
            font-size: $font-size-base
            font-weight: normal
            line-height: $line-height
            padding: $table-cell-padding
            vertical-align: top

        code
            color: $gray-light

    table.docutils.field-list
        border: none
        td, th
            border: none
            padding: ($spacer / 4)
        td > strong
            display: inline-block
        .field-name
            text-align: left
            white-space: nowrap
        .field-body
            text-align: left

    h1, h2, h3, h4, h5, h6, dl dt, p.caption
        .headerlink
            @extend .fa
            display: none
            font-size: $font-size-base
            visibility: hidden

            &:after
                content: $fa-var-link
                display: inline-block
                visibility: visible

        &:hover .headerlink
            display: inline-block

    .toc-backref
        color: $gray-darker
        text-decoration: none

    .line-block
        margin-left: $spacer

    .admonition
        background-color: $state-info-bg
        margin-bottom: $spacer
        padding: ($spacer / 2)

        .admonition-title
            @extend .fa
            @extend .fa-exclamation-circle
            background-color: $brand-info
            color: #fff
            display: block
            font-weight: bold
            margin: (($spacer / 2) * -1)
            margin-bottom: ($spacer / 2)
            padding: $alert-padding

            &:before
                margin-right: $alert-padding

        .last
            margin-bottom: 0

        &.attention, &.caution, &.warning
            background-color: $state-warning-bg
            // color: $state-warning-text

            .admonition-title
                background-color: $brand-warning

        &.danger, &.error
            background-color: $state-danger-bg
            // color: $state-danger-text

            .admonition-title
                background-color: $brand-danger

        &.hint, &.important, &.tip
            background-color: $state-success-bg
            // color: $state-success-text

            .admonition-title
                background-color: $brand-success

    dl:not(.docutils)
        margin-bottom: $spacer

        // This would be the equivilant of a .. class::
        dt
            background: lighten($accent-color, 50%)
            border-top: solid 3px lighten($accent-color, 10%)
            color: $body-color
            display: block
            font-size: 90%
            line-height: normal
            margin: $spacer 0 ($spacer / 2) 0
            padding: $spacer / 2
            position: relative

            &:before
                color: lighten($accent-color, 20%)

        .headerlink
            color: $body-color
            font-size: 100% !important

        // And this would be the .. method::
        dl dt
            background: hsl(0, 0%, 94%)
            border-left: solid 3px hsl(0, 0%, 80%)
            border: none
            color: $accent-color
            margin-bottom: $spacer

            .headerlink
                color: $headings-color
                font-size: 100% !important

        dt:first-child
            margin-top: 0

        // Since dts get the callout style, we treat this less as callouts.
        tt, code
            font-weight: bold

            &.descname, &.descclassname
                background-color: transparent
                border: none
                color: inherit
                font-size: 100% !important
                padding: 0

            &.descname
                font-weight: bold

        // This is for more advanced parameter control
        .optional
            color: #000
            display: inline-block
            font-weight: bold
            padding: 0 4px

        .property
            display: inline-block
            padding-right: 8px


    .sidebar
        border: $gray-lighter 1px solid
        display: block
        float: right
        font-size: $font-size-sm
        margin: 0 0 $spacer $spacer
        padding: ($spacer / 2)
        width: 40%

        .sidebar-title
            background-color: $gray-lighter
            font-family: $font-family-serif
            font-size: $font-size-base
            font-weight: bold
            margin: (($spacer / 2) * -1)
            margin-bottom: ($spacer / 2)
            padding: ($spacer / 4) ($spacer / 2)

        .last
            margin-bottom: 0

    .highlight pre
        @import "pygments-dark"
        background-color: $gray-dark
        color: #fff
        padding: $spacer
