hr
    @extend .clearfix

.branding
    background-color: $accent-color
    color: #fff
    padding: $spacer
    text-align: center

    a.name
        color: #fff
        font-size: $font-size-lg
        font-weight: bold

    .version
        color: $gray-lighter
        opacity: .75

.searchbox
    margin-top: $spacer / 2

.main-menu
    background-color: $gray-lighter
    font-size: $font-size-sm

    a
        color: $gray
        display: block
        padding: ($spacer / 2) $spacer

        &:hover
            background-color: darken($gray-lighter, 10%)
            color: $gray
            text-decoration: none

    ul
        list-style-type: none
        margin: 0
        padding: 0

        ul
            display: none

    li.current
        background-color: #fff

        &> a
            color: $accent-color
            background-color: darken($gray-lighter, 10%)

        &> ul
            border-right: 2px solid $gray-lighter

        ul
            display: block
            padding-left: $spacer

            a:hover
                background-color: inherit
                color: $accent-color

    .caption
        color: $gray-light
        margin: 0
        padding: $spacer
        text-transform: uppercase

    code
        background-color: transparent
        color: $gray
        padding: 0

.language-menu
    @extend .small
    background-color: $gray-dark
    display: none
    padding: $spacer ($spacer * 2)
    z-index: 1

    .nav-link
        color: $gray-light

        &:hover
            background-color: $gray-dark
            color: $gray-lighter

        &.active, &.active:hover, &.active:focus
            background-color: lighten($accent-color, 25%)

.breadcrumb
    margin-bottom: $spacer

    .view-source
        float: right
        &:before
            display: none


.content
    background-color: #fff
    padding: $spacer ($spacer * 2)

    .container
        margin: 0
        padding: 0
